/*------------------------------------*\
   Global Styles
\*------------------------------------*/

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  background: #dcf1f5;
}

.shake {
  animation: shake 0.4s linear;
}

@keyframes shake {
   8%, 41% { transform: translateX(-10px); }
  25%, 58% { transform: translateX(10px); }
  75%      { transform: translateX(-5px); }
  92%      { transform: translateX(5px); }
  0%, 100% { transform: translateX(0); }
}
